.btn-rounded {
    border-radius: 30px;
}

* {
    scrollbar-color: rgba($color: #2c3e50, $alpha: 1.0) rgba($color: #95a5a6, $alpha: 0.4);
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba($color: #2c3e50, $alpha: 1.0);
}

*::-webkit-scrollbar-track {
    background-color: rgba($color: #95a5a6, $alpha: 0.4);
}

.form-group {
    text-align: center !important;
}

input, select {
    width: 75% !important;
    margin: 0 auto 0 auto !important;
    transition: .7s ease !important;
}

input:focus, select:focus {
    width: 100% !important;
    transition: .7s ease !important;
}

/*
#resultatContent {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translatey(-55%);
    opacity: .5;
}*/


#resultatContent {
    position: relative;
    top: 50%;
    right: 0;
    width: 0;
    height: auto;
    display: inline-block;
}

#resultatContent:after {
    content: "/20";
    position: absolute;
    transform: translatey(40%);
    display: flex;
    align-self: center;
    right: 25px;
    bottom: 50%;
    width: 10px;
    height: 28.5px;
    opacity: .5;
}

input{
	/* Firefox */
	-moz-appearance: textfield;

	/* Chrome */
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin:0;
	}

	/* Opéra*/
	&::-o-inner-spin-button {
		-o-appearance: none;
		margin: 0; 
	}
}